<template>
    <div style="margin-top: 125px;">
        <!-- Push Footer -->
    </div>
    <footer class="footer">
        <div class="container" style="color: #777;">
            <!-- Company Information -->

            <div class="pull-left">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a v-link="{ path: '/pinboard' }">Pinboard</a></li>
                        <li><a href="/newuser">Register</a></li>
                        <li><a v-link="{ path: '/pricing' }">Pricing</a></li>
                        <li><a v-link="{ path: '/contact' }">Contact mTangaza</a></li>
                    </ul>
                </div>
            </div>
            <div class="pull-right" style="padding-top: 10px;">
                <div class="row text-center" style="margin: 0 auto;">
                    <button class="btn btn-twitter marvin" style="margin-right: 4px; background: #2095c0;"><i class="fa fa-twitter" style="color: #fff"></i></button>
                    <button class="btn btn-facebook marvin" style="margin-right: 4px; background: #014d82;"><i class="fa fa-facebook" style="color: #fff"></i></button>
                    <button class="btn btn-google-plus marvin" style="margin-right: 4px; background: #c53727;"><i class="fa fa-google-plus" style="color: #fff"></i></button>
                    <button class="btn btn-linkedin marvin" style="margin-right: 4px; background: #014d82;"><i class="fa fa-linkedin" style="color: #fff"></i></button>
                    <button class="btn btn-instagram marvin" style="margin-right: 4px; background: #5583a7;"><i class="fa fa-instagram" style="color: #fff"></i></button></div>
                <div class="row"> Copyright &copy; M-Tangaza - <a v-link="{ path: '/disclaimer'}">Terms Of Service</a></div>
            </div>
            <!--<div class="pull-right footer-social-icons">-->
                <!--<a href="http://facebook.com/{{ links.facebook }}">-->
                    <!--<i class="fa fa-btn fa-facebook-square"></i>-->
                <!--</a>-->
                <!--<a href="http://twitter.com/{{ links.twitter }}">-->
                    <!--<i class="fa fa-btn fa-twitter-square"></i>-->
                <!--</a>-->
                <!--<a href="http://github.com/{{ links.github }}">-->
                    <!--<i class="fa fa-github-square"></i>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
        </div>
    </footer>
</template>
<script>
    export default {
        data() {
            return {
                links: {
                    facebook: 'm-tangaza',
                    twitter: '',
                    github: ''
                }
            }
        }
    }
</script>