<template>
    <!-- Navigation -->
    <div class="page-nav">
        <nav class="navbar navbar-default main-nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="navbar-header">
                            <!-- Collapsed Hamburger -->
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- Branding Image -->
                            <a class="navbar-brand" href="/" style="padding-top: 19px;">
                                <img src="images/top-logo.png" alt="M-Tangaza" class="img-responsive desktop-only">
                                <form class="search-bar mobile-only search-form" role="form" v-on:submit="performSearch">
                                    <div class="input-group">
                                        <input autofocus type="text" class="form-control" name="search" id="mobile-search" v-model="search" v-on:keyup="performSearch" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-four" v-on:click="performSearch" type="submit">Go!</button>
                                        </span>
                                    </div>
                                </form>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 desktop-only">
                        <form class="navbar-form navbar-left search-bar" role="form" v-on:submit="performSearch">
                            <div class="input-group">
                                <input autofocus type="text" class="form-control" name="search" id="search" v-model="search" v-on:keyup="performSearch" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-four" v-on:click="performSearch" type="submit">Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <!-- Login / Registration Links for unauthenticated users -->
                                <li><a v-link="{ path: '/pinboard' }">Pinboard</a></li>
                                <!--<li><a v-link="{ path: '/pinboard' }">Register</a></li>-->
                                <li><a v-link="{ path: '/pricing' }">Pricing</a></li>
                                <li><a v-link="{ path: '/contact' }">Contact mTangaza</a></li>
                                <!--<li v-if=" ! $root.authenticated"><a v-link="{ path: '/auth/register' }">Register</a></li>-->
                                <!--&lt;!&ndash; Authenticated Right Dropdown &ndash;&gt;-->
                                <!--<li class="dropdown" v-if="$root.authenticated">-->
                                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                                        <!--{{ $root.user.name }} <span class="caret"></span>-->
                                    <!--</a>-->

                                    <!--<ul class="dropdown-menu" role="menu">-->
                                        <!--&lt;!&ndash; Settings &ndash;&gt;-->
                                        <!--<li class="dropdown-header">Settings</li>-->
                                        <!--<li>-->
                                            <!--<a v-link="{ path: '/auth/profile' }">-->
                                                <!--<i class="fa fa-btn fa-fw fa-user"></i>Your profile-->
                                            <!--</a>-->
                                        <!--</li>-->

                                        <!--&lt;!&ndash; Logout &ndash;&gt;-->
                                        <!--<li class="divider"></li>-->
                                        <!--<li>-->
                                            <!--<a v-link="{ path: '/auth/logout' }">-->
                                                <!--<i class="fa fa-btn fa-fw fa-sign-out"></i>Logout-->
                                            <!--</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container app-screen bg-white search-nav">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-pills">
                        <li role="presentation"><a  v-link="{ path: '/search/companies', query: { q: search } }">Companies</a></li>
                        <li role="presentation"><a  v-link="{ path: '/search/fields', query: { q: search } }">Field of Work</a></li>
                        <li role="presentation"><a v-link="{ path: '/search/all', query: { q: search }}">All</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="nav-divider">
    </div>
</template>
<script>
    export default {
        ready() {
            this.search = this.$route.query.q;
            document.getElementById("search").focus();
        },
        data() {
            return {
                search: ''
            }
        },
        methods: {
            performSearch(e) {
                e.preventDefault();
                this.$root.getResults(this.search);
            }
        }
    }
</script>