<template>
    <nav>
        <ul class="pagination">
            <li v-if="pagination.current_page > 1">
                <a href="#" aria-label="Previous" @click.prevent="changePage(pagination.current_page - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li v-for="num in pagination.total_pages" :class="{ active: num + 1 == pagination.current_page}">
                <a href="#" @click.prevent="changePage(num + 1)">{{ num + 1 }}</a>
            </li>
            <li v-if="pagination.current_page < pagination.total_pages">
                <a href="#" aria-label="Next" @click.prevent="changePage(pagination.current_page + 1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        props: {
            pagination: {
                type: Object,
                required: true
            },
            callback: {
                type: Function,
                required: true
            }
        },
        methods: {
            changePage(pageNumber) {
                this.callback(pageNumber);
            }
        }
    }
</script>