<template>
    <div class="page-nav">
        <nav class="navbar navbar-default main-nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="navbar-header">
                            <!-- Collapsed Hamburger -->
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- Branding Image -->
                            <a class="navbar-brand" href="/" style="padding-top: 19px;">
                                    <img src="images/top-logo.png" alt="M-Tangaza" class="img-responsive desktop-only">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 desktop-only">

                    </div>
                    <div class="col-sm-4">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <!-- Login / Registration Links for unauthenticated users -->
                                <li><a v-link="{ path: '/pinboard' }">Pinboard</a></li>
                                <li><a v-link="{ path: '/pricing' }">Pricing</a></li>
                                <li><a v-link="{ path: '/contact' }">Contact mTangaza</a></li>
                                <!--<li v-if=" ! $root.authenticated"><a v-link="{ path: '/auth/register' }">Register</a></li>-->
                                <!--&lt;!&ndash; Authenticated Right Dropdown &ndash;&gt;-->
                                <!--<li class="dropdown" v-if="$root.authenticated">-->
                                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                                <!--{{ $root.user.name }} <span class="caret"></span>-->
                                <!--</a>-->

                                <!--<ul class="dropdown-menu" role="menu">-->
                                <!--&lt;!&ndash; Settings &ndash;&gt;-->
                                <!--<li class="dropdown-header">Settings</li>-->
                                <!--<li>-->
                                <!--<a v-link="{ path: '/auth/profile' }">-->
                                <!--<i class="fa fa-btn fa-fw fa-user"></i>Your profile-->
                                <!--</a>-->
                                <!--</li>-->

                                <!--&lt;!&ndash; Logout &ndash;&gt;-->
                                <!--<li class="divider"></li>-->
                                <!--<li>-->
                                <!--<a v-link="{ path: '/auth/logout' }">-->
                                <!--<i class="fa fa-btn fa-fw fa-sign-out"></i>Logout-->
                                <!--</a>-->
                                <!--</li>-->
                                <!--</ul>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--<div class="container app-screen bg-white search-nav">-->
        <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
        <!--<ul class="nav nav-pills">-->
        <!--<li role="presentation"><a v-link="{ path: '/search/all', query: { q: search }}">All</a></li>-->
        <!--<li role="presentation"><a  v-link="{ path: '/search/companies', query: { q: search } }">Companies</a></li>-->
        <!--<li role="presentation"><a  v-link="{ path: '/search/fields', query: { q: search } }">Field of Work</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<hr class="nav-divider">-->
    </div>

    <div class="container-fluid app-screen page-body">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <a href="/">
                <img src="images/logo.png" alt="M-Tangaza" class="img-responsive">
               </a>
            </div>
        </div>

        <div class="container" style="font-size: 18px !important;">
            <h3>Contact mTangaza</h3>
            <span class="btn btn-block btn-info" id="information" v-html="info" v-show="showInfo"></span>
            <form action="#" v-on:submit="sendInfo">
                <div class="form-group">
                    <label for="name">Your Name</label>
                    <input type="text" class="form-control" id="name" name="name" required v-model="name">
                </div>
                <div class="form-group">
                    <label for="email">Your Email</label>
                    <input type="email" class="form-control" id="email" name="email" required v-model="email">
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject" required v-model="subject">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="10" required v-model="message"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Send Inquiry">
                </div>
            </form>

        </div>
    </div>
    <main-footer></main-footer>
</template>


<script>
    export default {
        data() {
            return {
                item: [],
                showForm: false,
                subject: '',
                email: '',
                message: '',
                name: '',
                info: '',
                showInfo: false
            }
        },
        methods: {
            sendInfo(e) {
                e.preventDefault();
                window.scrollTo(0, 0);

                $.ajax({
                    data: {
                        email: this.email,
                        subject: this.subject,
                        message: this.message,
                        slug: this.item.slug,
                        _token: $('#tok').attr('content'),
                        name: this.name
                    },
                    method: 'post',
                    url: 'http://mtangaza.com/api/contact',
                    success: function (response) {
                        console.log(response);
                        this.showInfo = true;
                        this.info = 'Successfully sent message.';
                        this.showForm = false;
                        this.subject = '';
                        this.email = '';
                        this.message = '';
                        this.name = '';
                        setTimeout(function() {
                            this.showInfo = false;
                        }.bind(this),5000);
                    }.bind(this),
                    error: function (error) {
                        this.showForm = false;
                        this.showInfo = true;
                        this.subject = '';
                        this.email = '';
                        this.message = '';
                        this.name = '';
                        this.info = 'Successfully sent message.';
                        setTimeout(function() {
                            this.showInfo = false;
                        }.bind(this),5000);
                    }.bind(this)
                });
            }
        }
    }
</script>
