<template>
    <div class="page-nav">
        <nav class="navbar navbar-default main-nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="navbar-header">
                            <!-- Collapsed Hamburger -->
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- Branding Image -->
                            <a class="navbar-brand" href="/" style="padding-top: 19px;">
                                <img src="images/top-logo.png" alt="M-Tangaza" class="img-responsive desktop-only">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 desktop-only">

                    </div>
                    <div class="col-sm-4">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <!-- Login / Registration Links for unauthenticated users -->
                                <li><a v-link="{ path: '/pinboard' }">Pinboard</a></li>
                                <li><a v-link="{ path: '/pricing' }">Pricing</a></li>
                                <li><a v-link="{ path: '/contact' }">Contact mTangaza</a></li>
                                <!--<li v-if=" ! $root.authenticated"><a v-link="{ path: '/auth/register' }">Register</a></li>-->
                                <!--&lt;!&ndash; Authenticated Right Dropdown &ndash;&gt;-->
                                <!--<li class="dropdown" v-if="$root.authenticated">-->
                                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                                <!--{{ $root.user.name }} <span class="caret"></span>-->
                                <!--</a>-->

                                <!--<ul class="dropdown-menu" role="menu">-->
                                <!--&lt;!&ndash; Settings &ndash;&gt;-->
                                <!--<li class="dropdown-header">Settings</li>-->
                                <!--<li>-->
                                <!--<a v-link="{ path: '/auth/profile' }">-->
                                <!--<i class="fa fa-btn fa-fw fa-user"></i>Your profile-->
                                <!--</a>-->
                                <!--</li>-->

                                <!--&lt;!&ndash; Logout &ndash;&gt;-->
                                <!--<li class="divider"></li>-->
                                <!--<li>-->
                                <!--<a v-link="{ path: '/auth/logout' }">-->
                                <!--<i class="fa fa-btn fa-fw fa-sign-out"></i>Logout-->
                                <!--</a>-->
                                <!--</li>-->
                                <!--</ul>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--<div class="container app-screen bg-white search-nav">-->
        <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
        <!--<ul class="nav nav-pills">-->
        <!--<li role="presentation"><a v-link="{ path: '/search/all', query: { q: search }}">All</a></li>-->
        <!--<li role="presentation"><a  v-link="{ path: '/search/companies', query: { q: search } }">Companies</a></li>-->
        <!--<li role="presentation"><a  v-link="{ path: '/search/fields', query: { q: search } }">Field of Work</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<hr class="nav-divider">-->
    </div>

    <div class="container-fluid app-screen page-body">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <a href="/">
                <img src="images/logo.png" alt="M-Tangaza" class="img-responsive">
                    </a>
            </div>
        </div>

        <div class="container" style="font-size: 18px !important;">
            <h3>Disclaimer</h3>
            <p>
                This site may contain third party advertisements and links to third party sites.
                mTangaza does not take any responsibility as to the accuracy or suitability of any
                of the information, representations, offers and/or invitations to treat which are
                present and/or may be inferred in these advertisements or sites and does not accept
                any responsibility or liability for the conduct or content of those advertisements and
                sites and the representations, offers and/or invitations to treat made by the said third parties.
            </p>
            <p>
                Third party advertisements and links to other sites where goods or services are advertised,
                are not endorsements or recommendations by mTangaza of the third party sites, goods or services.
                mTangaza takes no responsibility for the content of the advertisements, representations made, or
                the quality/reliability of the products, services, or positions offered in the advertisements.
                mTangaza website, www.mtangaza.com, reserves the right to decline any advertising.
                Classified advertisements that mislead visitors are prohibited. The subject material should
                be directly related to the position posted in the advertisement.
            </p>
            <p>
                mTangaza.com is not responsible
                for the content of third party sites that are directly or indirectly linked from our site.
                Advertising on this site does not imply endorsement of the advertised product, company or service.
                mTangaza shall have complete discretion to determine the acceptability of any and all
                advertisements and advertisers. Advertising agreements may be terminated without notice by
                www.mtangaza.com immediately if the advertiser posts improper or misleading content.
                In addition, www.mtangaza.com may, in its complete discretion, refuse to insert any other
                advertising that it deems inappropriate.
            </p>
        </div>
    </div>
    <main-footer></main-footer>
</template>


<script>
    export default {

    }
</script>
