<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="page-nav">
        <nav class="navbar navbar-default main-nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="navbar-header">
                            <!-- Collapsed Hamburger -->
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- Branding Image -->
                            <a class="navbar-brand" href="/" style="padding-top: 19px;">
                                <img src="images/top-logo.png" alt="M-Tangaza" class="img-responsive desktop-only">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 desktop-only">

                    </div>
                    <div class="col-sm-4">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <!-- Login / Registration Links for unauthenticated users -->
                                <li><a v-link="{ path: '/pinboard' }">Pinboard</a></li>
                                <li><a v-link="{ path: '/pricing' }">Pricing</a></li>
                                <li><a v-link="{ path: '/contact' }">Contact mTangaza</a></li>
                                <!--<li v-if=" ! $root.authenticated"><a v-link="{ path: '/auth/register' }">Register</a></li>-->
                                <!--&lt;!&ndash; Authenticated Right Dropdown &ndash;&gt;-->
                                <!--<li class="dropdown" v-if="$root.authenticated">-->
                                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                                <!--{{ $root.user.name }} <span class="caret"></span>-->
                                <!--</a>-->

                                <!--<ul class="dropdown-menu" role="menu">-->
                                <!--&lt;!&ndash; Settings &ndash;&gt;-->
                                <!--<li class="dropdown-header">Settings</li>-->
                                <!--<li>-->
                                <!--<a v-link="{ path: '/auth/profile' }">-->
                                <!--<i class="fa fa-btn fa-fw fa-user"></i>Your profile-->
                                <!--</a>-->
                                <!--</li>-->

                                <!--&lt;!&ndash; Logout &ndash;&gt;-->
                                <!--<li class="divider"></li>-->
                                <!--<li>-->
                                <!--<a v-link="{ path: '/auth/logout' }">-->
                                <!--<i class="fa fa-btn fa-fw fa-sign-out"></i>Logout-->
                                <!--</a>-->
                                <!--</li>-->
                                <!--</ul>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--<div class="container app-screen bg-white search-nav">-->
        <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
        <!--<ul class="nav nav-pills">-->
        <!--<li role="presentation"><a v-link="{ path: '/search/all', query: { q: search }}">All</a></li>-->
        <!--<li role="presentation"><a  v-link="{ path: '/search/companies', query: { q: search } }">Companies</a></li>-->
        <!--<li role="presentation"><a  v-link="{ path: '/search/fields', query: { q: search } }">Field of Work</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<hr class="nav-divider">-->
    </div>
    <div class="container-fluid app-screen">
        <div class="row main-logo">

            <!--<div class="col-md-3">-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<img src="images/logo.png" alt="M-Tangaza" class="img-responsive">-->

            <!--</div>-->
            <!--<div class="col-md-3">-->
                <!--<a style="margin-left: 50%" v-link="{ path: '/pinboard' }">-->
                <!--<img src="images/pin.png" alt="M-Tangaza" width="30%" height="30%" class="img-responsive"></a>-->
            <!--</div>-->

        </div>

        <div class="row" style="margin-top: 50px">
            <div class="col-sm-6 col-sm-offset-3">
                <form class="form-horizontal" role="form" v-on:submit="performSearch">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" v-model="search" v-on:keyup="performSearch" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-four" type="submit" v-on:click="performSearch">Go!</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row premium-row">
            <div class="col-xs-12 featured-fields">
                <div id="field" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <!--<div :class="['item', { active: activeSlide(feature) }]" v-for="field in featuredFields">-->
                        <div class="row" v-for="group in featuredFields" >
                            <div class="fieldfield col-md-2 col-xs-2 item " v-for="field in group">
                                <a v-link="{ path: '/search/fields/' + field.slug }">
                                    <img :src="field.image_path" :alt="field.name" class="img-responsive center-block img-rounded">
                                    <h5 class="text-center"> {{ field.name }}</h5>
                                </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!--<a class="left carousel-control" href="#field" role="button" data-slide="prev">-->
                        <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                        <!--<span class="sr-only">Previous</span>-->
                    <!--</a>-->
                    <!--<a class="right carousel-control" href="#field" role="button" data-slide="next">-->
                        <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                        <!--<span class="sr-only">Next</span>-->
                    <!--</a>-->
                </div>
            </div>
            <div  class="clear-head col-md-12">
                <div class="wide">
                    <div class="col-xs-5 line"><hr></div>
                    <div class="col-xs-2 logo"><h4>Featured Businesses</h4></div>
                    <div class="col-xs-5 line"><hr></div>
                </div>
            </div>
            <div class="col-xs-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div :class="['item', { active: activeSlide(feature) }]" v-for="feature in featured">
                            <div class="col-md-2 col-xs-2" v-for="business in feature">
                                <a  v-link="{ path: '/search/businesses/' + business.slug }" class="showpop">
                                    <span class='popover above text-center'>
                                        <div>

                                            <div class="panel-body logo">
                                                 <img width="115px" height="115px" :src="business.logo" :alt="business.name" class="img-responsive center-block">
                                            </div>
                                            <h4>
                                                {{ business.name}}
                                            </h4>
                                        </div>
                                    </span>
                                    <div class="panel panel-default premium " >
                                        <div class="panel-body logo">
                                            <img :src="business.logo" :alt="business.name" class="img-responsive center-block">
                                        </div>
                                        <div class="panel-footer text-center">
                                            <div class="row">
                                                <div class="col-md-8" style="overflow-x: hidden; overflow-y: hidden; white-space: nowrap;"> {{ business.name.length > 18 ? business.name.substring(0,18) + "..." : business.name }}</div>
                                                <div class="col-md-4" v-if="business.handshake">
                                                    <img class="hand" width="20px" height="20px" src="images/hand.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </a>


                            </div>
                        </div>
                    </div>
                    <a href="#carousel-example-generic"  >

                    </a>
                    <a  href="#carousel-example-generic" >

                    </a>
                </div>
            </div>
        </div>
    <main-footer></main-footer>
</template>


<script>
    $(document).ready(function () {
        $('#field').carousel('cycle');
    })
    export default {
        ready() {
            this.$root.getFeatured();
            this.current_slide = this.savedSlide();
            var that = this;
            window.scrollTo(0, 0);
            $('#carousel-example-generic').off().carousel({
                interval: 3000
            }).on('slide.bs.carousel', function() {
                var slideFrom = $(this).find('.active').index();
                that.slideChanged(slideFrom);
            });
            this.$on('featuredFetched', function () {
                this.setFeatured();
            });
        },
        data() {
            return {
                search: '',
                featured: [],
                featuredFields: [],
                current_slide: 0,
                item: 'item'
            }
        },
        methods: {
            activeSlide(slide) {
                return slide == this.featured[this.current_slide];
            },
            slideChanged(slide_number) {
                this.current_slide = slide_number;
                localStorage.setItem("slide_number", this.current_slide);
            },
            savedSlide() {
                return Number(localStorage.getItem("slide_number")) == -1 ?
                        0 : Number(localStorage.getItem("slide_number"));
            },
            performSearch(e) {
                e.preventDefault();
                this.$root.getResults(this.search);
                if( this.search.length > 1) {
                    this.$route.router.go({ name: 'companies', query: { q: this.search }});
                }
            },
            setFeatured() {
                var featured = this.$root.featured;
                this.featuredFields = this.$root.featuredFields;
                var featuredSlides = [];
                var slide = [];
                for (var i = 0; i < featured.length; i++) {
                    slide.push(featured[i]);
                    if ((i != 0 && i%5 == 0) || i == (featured.length - 1)) {
                        featuredSlides.push(slide);
                        slide = [];
                    }
                }

                this.featured = featuredSlides;
            }
        }
    }
</script>
