<template>
    <div class="page-nav">
        <nav class="navbar navbar-default main-nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/" style="padding-top: 19px;">
                                <img src="images/top-logo.png" alt="M-Tangaza" class="img-responsive desktop-only">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 desktop-only">

                    </div>
                    <div class="col-sm-4">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a v-link="{ path: '/pinboard' }">Pinboard</a></li>
                                <li><a v-link="{ path: '/pricing' }">Pricing</a></li>
                                <li><a v-link="{ path: '/contact' }">Contact mTangaza</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>





    <div class="container-fluid app-screen page-body">
        <div class="row">

            <a href="/">
                <img id="div1" class="center-block img-responsive" src="images/top-pin.png" alt="pinboard"
                     width="10%" height="10%"></a>

                <!--<img class="center-block img-responsive" src="images/spin.gif" alt="pinboard"  >-->

        </div>
        <hr />

    <div class="result-item">
       <!-- <h5 v-show="showNumber">{{ pagination.total }} results fetched</h5>-->
            <div class="container pinboard">
                <div class="logos" v-for="item in items">
                    <a v-link="{ path: '/search/' + item.url, query: { q: search }}" >
                    <img :src="item.logo"
                         :alt="item.name"
                          class="img-responsive" /></a>

                    <!--<h4 class="text-center" style="font-size: 9px"><a v-link="{ path: '/search/' + item.url, query: { q: search }}" v-html="item.name"></a></h4>-->
                </div>
            </div>
            <div class="col-sm-10">
                <h4></h4>
                <h5>{{ item.url }}</h5>

            </div>
        <pagination :pagination="pagination" :callback="changePage" v-show="showPagination"></pagination>

    </div>
        </div>
    <script type="text/javascript">
        $(document).ready(function() {

        });
        $(window).load(function() {
            $("#gif").hide();
        });
    </script>


</template>

<!--<script>var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>-->
<script>


    export default {
        ready() {
        window.scrollTo(0, 0);

        this.$root.searchUrl = '/search/businesses';

        this.$root.getResults('');
        this.$on('resultsFetched', function () {
            this.allItems = this.$root.results;
            this.items = this.allItems;
            this.pagination.total = this.allItems.length;
            this.pagination.total_pages = Math.round((this.pagination.total / this.pagination.per_page)+ 0.4);
            this.loadData();
            this.checked = true;
            this.showNumber = true;
        }.bind(this));
    },
    computed: {
        noResults() {
            return this.items.length < 1 && this.checked;
        },
        showPagination() {
            return this.pagination.total > this.pagination.per_page;
        }
    },
    data() {
        return {
            group: '',
            allItems: [],
            checked: false,
            items: [],
            pagination: {
                total: 500, per_page: 10,
                from: 0, to: 9,
                current_page: 1,
                total_pages: 0
            },
            showNumber: false
        }
    },
    methods: {
        changePage(pageNumber) {
            this.pagination.current_page = pageNumber;
            pageNumber = pageNumber - 1;
            if (this.allItems.length < 1) {
                return;
            }
            var startIndex = pageNumber * this.pagination.per_page;
            var endIndex = startIndex + (this.pagination.per_page - 1);
            var items = [];

            for (var i = startIndex; i <= endIndex; i++) {
                if (this.allItems[i] != undefined) {
                    items.push(this.allItems[i]);
                }
            }

            this.items = items;
        },
        loadData: function () {
            if (this.allItems.length < 1) {
                return;
            }
            var total = this.allItems.length;
            var startIndex = this.pagination.from;
            var endIndex = this.pagination.to;
            var addIndex = this.pagination.per_page - 1;
            var items = [];
            this.pagination.total_pages = Math.round((total / this.pagination.per_page)+ 0.4);

            for (var i = startIndex; i <= endIndex; i++) {
                if (this.allItems[i] != undefined) {
                    items.push(this.allItems[i]);
                }
            }
            this.items = items;
        }
    }
    }
</script>
