<template>
    <div class="page-nav">
        <nav class="navbar navbar-default main-nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="navbar-header">
                            <!-- Collapsed Hamburger -->
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- Branding Image -->
                            <a class="navbar-brand" href="/" style="padding-top: 19px;">
                                <img src="images/top-logo.png" alt="M-Tangaza" class="img-responsive desktop-only">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 desktop-only">

                    </div>
                    <div class="col-sm-4">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <!-- Login / Registration Links for unauthenticated users -->
                                <li><a v-link="{ path: '/pinboard' }">Pinboard</a></li>
                                <li><a v-link="{ path: '/pricing' }">Pricing</a></li>
                                <li><a v-link="{ path: '/contact' }">Contact mTangaza</a></li>
                                <!--<li v-if=" ! $root.authenticated"><a v-link="{ path: '/auth/register' }">Register</a></li>-->
                                <!--&lt;!&ndash; Authenticated Right Dropdown &ndash;&gt;-->
                                <!--<li class="dropdown" v-if="$root.authenticated">-->
                                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                                <!--{{ $root.user.name }} <span class="caret"></span>-->
                                <!--</a>-->

                                <!--<ul class="dropdown-menu" role="menu">-->
                                <!--&lt;!&ndash; Settings &ndash;&gt;-->
                                <!--<li class="dropdown-header">Settings</li>-->
                                <!--<li>-->
                                <!--<a v-link="{ path: '/auth/profile' }">-->
                                <!--<i class="fa fa-btn fa-fw fa-user"></i>Your profile-->
                                <!--</a>-->
                                <!--</li>-->

                                <!--&lt;!&ndash; Logout &ndash;&gt;-->
                                <!--<li class="divider"></li>-->
                                <!--<li>-->
                                <!--<a v-link="{ path: '/auth/logout' }">-->
                                <!--<i class="fa fa-btn fa-fw fa-sign-out"></i>Logout-->
                                <!--</a>-->
                                <!--</li>-->
                                <!--</ul>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--<div class="container app-screen bg-white search-nav">-->
        <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
        <!--<ul class="nav nav-pills">-->
        <!--<li role="presentation"><a v-link="{ path: '/search/all', query: { q: search }}">All</a></li>-->
        <!--<li role="presentation"><a  v-link="{ path: '/search/companies', query: { q: search } }">Companies</a></li>-->
        <!--<li role="presentation"><a  v-link="{ path: '/search/fields', query: { q: search } }">Field of Work</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<hr class="nav-divider">-->
    </div>

    <div class="container-fluid app-screen page-body">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <a href="/">
                <img src="images/logo.png" alt="M-Tangaza" class="img-responsive">
                </a>
            </div>
        </div>

        <div class="container">
            <div class="pricing-tables">
                <div class="row">
                    <div class="col-sm-4 col-md-4  ">
                        <div class="plan recommended ">
                            <div style="background: #E5E4E2">
                                <h2>Silver</h2>
                            </div>
                            <ul class="item-list">
                                <li>Business Logo</li>
                                <li>Business Description</li>
                                <li>Business Contacts</li>
                                <li>Direct Inquiry Form</li>
                                <li>Google Maps</li>
                                <li>Social Media Links</li>
                                <li>Website Link</li>
                                <li>X</li>
                                <li>X</li>
                                <li>X</li>
                                <li>X</li>
                                <li>X</li>
                                <li>X</li>
                                <li>X</li>
                                <li>X</li>
                            </ul>
                            <div class="price">
                                <h3><span class="symbol">KES</span>5,000</h3>
                                <h4>per year*</h4>
                            </div>
                            <!--<button type="button" class="btn btn-success">Sign Up</button>-->
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4  ">
                        <div class="plan recommended">
                            <div style="background: #FFD700">
                                <h2>Gold</h2>
                            </div>
                            <ul class="item-list">
                                <li>Business Logo</li>
                                <li>Business Description</li>
                                <li>Business Contacts</li>
                                <li>Direct Inquiry Form</li>
                                <li>Google Maps</li>
                                <li>Social Media Links</li>
                                <li>Website Link</li>
                                <li>Email Notification</li>
                                <li>Skype Click to Call</li>
                                <li>Attachments for Clients</li>
                                <li>X</li>
                                <li>X</li>
                                <li>X</li>
                                <li>X</li>
                                <li>X</li>
                            </ul>
                            <div class="price">
                                <h3><span class="symbol"><small>KES</small></span>10,000</h3>
                                <h4>per year*</h4>
                            </div>
                            <!--<button type="button" class="btn btn-success">Sign Up</button>-->
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4  ">
                        <div class="plan recommended">
                            <div style="background: #C0C0C0">
                                <h2>Platinum</h2>
                            </div>
                            <ul class="item-list">
                                <li>Business Logo</li>
                                <li>Business Description</li>
                                <li>Business Contacts</li>
                                <li>Direct Inquiry Form</li>
                                <li>Google Maps</li>
                                <li>Social Media Links</li>
                                <li>Website Link</li>
                                <li>Email Notification</li>
                                <li>Skype Click to Call</li>
                                <li>Attachments for Clients</li>
                                <li>Advert Tracking</li>
                                <li>Handshake Service</li>
                                <li>Featured Listing</li>
                                <li>Personal Image Uploads</li>
                                <li>SMS Notification</li>
                            </ul>
                            <div class="price">
                                <h3><span class="symbol">KES</span>15,000</h3>
                                <h4>per year*</h4>
                            </div>
                            <!--<button type="button" class="btn btn-success">Sign Up</button>-->
                        </div>
                    </div>
                    <h5>* All prices exclusive of VAT</h5>
                </div> <!-- row-->
            </div>
        </div>
    </div>
    <main-footer></main-footer>
</template>


<script>
    export default {
        data() {
            return {
                item: [],
                showForm: false,
                subject: '',
                email: '',
                message: '',
                name: '',
                info: '',
                showInfo: false
            }
        },
        methods: {
            sendInfo(e) {
                e.preventDefault();
                window.scrollTo(0, 0);

                $.ajax({
                    data: {
                        email: this.email,
                        subject: this.subject,
                        message: this.message,
                        slug: this.item.slug,
                        _token: $('#tok').attr('content'),
                        name: this.name
                    },
                    method: 'post',
                    url: 'http://mtangaza.com/api/contact',
                    success: function (response) {
                        console.log(response);
                        this.showInfo = true;
                        this.info = 'Successfully sent message.';
                        this.showForm = false;
                        this.subject = '';
                        this.email = '';
                        this.message = '';
                        this.name = '';
                        setTimeout(function() {
                            this.showInfo = false;
                        }.bind(this),5000);
                    }.bind(this),
                    error: function (error) {
                        this.showForm = false;
                        this.showInfo = true;
                        this.subject = '';
                        this.email = '';
                        this.message = '';
                        this.name = '';
                        this.info = 'Successfully sent message.';
                        setTimeout(function() {
                            this.showInfo = false;
                        }.bind(this),5000);
                    }.bind(this)
                });
            }
        }
    }
</script>
