<template>
    <main-nav></main-nav>
    <div class="container app-screen">
        <!-- Tabs -->
        <div class="col-md-3">
            <div class="panel panel-default panel-flush">
                <div class="panel-heading">
                    Home
                </div>
                <div class="panel-body">
                    <div class="app-tabs">
                        <ul class="nav app-tabs-stacked">
                            <li v-if="! $root.authenticated">
                                <a v-link="{ path: '/auth/login' }">
                                    <i class="fa fa-btn fa-fw fa-sign-in"></i>&nbsp;Sign in</span>
                                </a>
                            </li>
                            <li v-if="! $root.authenticated">
                                <a v-link="{ path: '/auth/register' }">
                                    <i class="fa fa-btn fa-fw fa-chevron-circle-up"></i>&nbsp;Register</span>
                                </a>
                            </li>
                            <li v-if="$root.authenticated">
                                <a v-link="{ path: '/auth/profile' }">
                                    <i class="fa fa-btn fa-fw fa-user"></i>&nbsp;My Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tab Panes -->
        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane">
                    <div class="panel panel-default">
                        <router-view></router-view>
                    </div>
                </div><!-- End tab panel -->
            </div><!-- End tab content -->
        </div><!-- End tab panes col-md-9 -->
    </div><!-- End container -->
    <main-footer></main-footer>
</template>
<script></script>
<style></style>