<template>
    <div class="result-item">
        <h5 v-show="showNumber">{{ pagination.total }} results fetched</h5>
        <hr>
        <div class="row" v-for="item in items">
            <div class="col-sm-2 desktop-only logo-holder">
                <a v-link="{ path: '/search/' + item.url, query: { q: search }}">
                    <img :src="item.logo" :alt="item.name" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-10">
                <h4><a v-link="{ path: '/search/' + item.url, query: { q: search }}" v-html="item.name"></a></h4>
                <h5>{{ item.url }}</h5>
                <p v-html="item.description"></p>
            </div>
        </div>
        <pagination :pagination="pagination" :callback="changePage" v-show="showPagination"></pagination>
        <div v-show="noResults">
            <h3>Your search did not match any of our records.</h3>
            <h4>Suggestions:</h4>
            <ul>
                <li>Make sure you have entered more than 4 characters</li>
                <li>Make sure all words are spelled correctly</li>
                <li>Try different keywords</li>
                <li>Try general keywords</li>
                <li>Try fewer keywords.</li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        ready() {
            window.scrollTo(0, 0);
            this.$root.searchUrl = '/search/fields';
            var searchElem = document.getElementById("search");
            searchElem.focus();
            this.$root.getResults(searchElem.value);
            this.$on('resultsFetched', function () {
                this.allItems = this.$root.results;
                this.items = this.allItems;
                this.pagination.total = this.allItems.length;
                this.pagination.total_pages = Math.round((this.pagination.total / this.pagination.per_page)+ 0.4);
                this.loadData();
                this.checked = true;
                this.showNumber = true;
            }.bind(this));
        },
        computed: {
            noResults() {
                return this.items.length < 1 && this.checked;
            },
            showPagination() {
                return this.pagination.total > this.pagination.per_page;
            }
        },
        data() {
            return {
                group: '',
                allItems: [],
                checked: false,
                items: [],
                pagination: {
                    total: 500, per_page: 10,
                    from: 0, to: 9,
                    current_page: 1,
                    total_pages: 0
                },
                showNumber: false
            }
        },
        methods: {
            changePage(pageNumber) {
                this.pagination.current_page = pageNumber;
                pageNumber = pageNumber - 1;
                if (this.allItems.length < 1) {
                    return;
                }
                var startIndex = pageNumber * this.pagination.per_page;
                var endIndex = startIndex + (this.pagination.per_page - 1);
                var items = [];

                for (var i = startIndex; i <= endIndex; i++) {
                    if (this.allItems[i] != undefined) {
                        items.push(this.allItems[i]);
                    }
                }

                this.items = items;
            },
            loadData: function () {
                if (this.allItems.length < 1) {
                    return;
                }
                var total = this.allItems.length;
                var startIndex = this.pagination.from;
                var endIndex = this.pagination.to;
                var addIndex = this.pagination.per_page - 1;
                var items = [];
                this.pagination.total_pages = Math.round((total / this.pagination.per_page)+ 0.4);

                for (var i = startIndex; i <= endIndex; i++) {
                    if (this.allItems[i] != undefined) {
                        items.push(this.allItems[i]);
                    }
                }
                this.items = items;
            }
        }
    }
</script>
