<template>
    <div class="result-item">
        <div class="row" v-for="item in items">
            <div class="col-sm-2 desktop-only logo-holder">
                <a v-link="{ path: '/search/' + item.url, query: { q: search }}">
                    <img :src="item.logo" :alt="item.name" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-10">
                <h4 v-html="item.name"></h4>
                <h5>{{ item.url }}</h5>
                <p v-html="item.description"></p>
            </div>
        </div>
        <div v-show="items.length < 1">
            <h3>Your search did not match any of our records.</h3>
            <h4>Suggestions:</h4>
            <ul>
                <li>Make sure you have entered more than 4 characters</li>
                <li>Make sure all words are spelled correctly</li>
                <li>Try different keywords</li>
                <li>Try general keywords</li>
                <li>Try fewer keywords.</li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        ready() {
            document.getElementById("search").focus();
            this.$on('resultsFetched', function () {
                this.items = this.$root.results;
            }.bind(this));
        },
        data() {
            return {
                group: '',
                items: this.$root.results
            }
        }
    }
</script>
