<template>
    <main-nav></main-nav>
    <div class="container app-screen page-body">
        <div class="col-md-9">
            <router-view></router-view>
        </div>
        <div class="col-md-3">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div :class="['item', { active: activeSlide(feature) }]" v-for="feature in featured">
                        <div class="col-sm-12" v-for="business in feature">
                            <a v-link="{ path: '/search/businesses/' + business.slug }" v-on:click="refreshData(business.slug)">
                                <div class="panel panel-default premium">
                                    <div class="panel-body">
                                        <img :src="business.logo" :alt="business.name" class="img-responsive right-featured">
                                    </div>
                                    <div class="panel-footer text-center">{{ business.name }}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main-footer></main-footer>
</template>

<script>
    export default {
        ready() {
            document.getElementById("search").focus();
            this.setFeatured();
            this.current_slide = this.savedSlide();
            var that = this;
            window.scrollTo(0, 0);
            $('.carousel').carousel({
                interval: 3000
            }).on('slide.bs.carousel', function(e) {
                var slideFrom = $(this).find('.active').index();
                that.slideChanged(slideFrom);
            });

            this.$on('featuredFetched', function () {
                this.setFeatured();
            });
        },
        data(){
            return {
                items: [],
                featured: [],
                current_slide: 0
            }
        },
        methods: {
            activeSlide(slide) {
                return slide == this.featured[this.current_slide];
            },
            slideChanged(slide_number) {
                this.current_slide = (slide_number == -1 ? 0 : slide_number);
                localStorage.setItem("search_slide_number", this.current_slide);
            },
            savedSlide() {
                return Number(localStorage.getItem("search_slide_number")) == -1 ? 0 : Number(localStorage.getItem("search_slide_number"));
            },
            setFeatured() {
                var featured = this.$root.featured;
                var featuredSlides = [];
                var slide = [];
                for (var i = 0; i < featured.length; i++) {
                    slide.push(featured[i]);
                    if ((i != 0 && ((i + 1)%2 == 0)) || i == (featured.length - 1)) {
                        featuredSlides.push(slide);
                        slide = [];
                    }
                }

                this.featured = featuredSlides;
            },
            refreshData(business_name) {
                this.$root.searchUrl = '/search/business';
                this.$root.getResults(business_name);
            }
        }
    }
</script>
