<template>
    <div class="business-item">
        <div class="row">
            <div class="col-sm-4">
                <img :src="item.logo" :alt="item.name" class="img-responsive logo-img" v-if="item.logo">
                <div class="row" v-if="item.contact_form">
                    <div class="col-sm-12">
                        <span href="#" v-on:click="showForm = ! showForm" class="btn btn-success btn-block contact">Contact</span>
                        <span class="btn btn-block btn-info" id="information" v-html="info" v-show="showInfo"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 social-icons">
                <h3>{{ item.name | uppercase }}</h3>
                <hr>
                <div class="row">
                    <div class="col-sm-3" v-if="item.website"><h5><strong>Website:</strong></h5></div>
                    <div class="col-sm-9" v-if="item.website">
                        <h5>
                            <a :href="item.website" target="_blank">{{ item.website }}</a>
                        </h5>
                    </div>
                    <div class="col-sm-3" v-if="item.contact_person"><h5><strong>Contact Person:</strong></h5></div>
                    <div class="col-sm-9" v-if="item.contact_person"><h5>{{ item.contact_person }}</h5></div>
                    <div class="col-sm-3" v-if="item.contact_numbers"><h5><strong>Contacts:</strong></h5></div>
                    <div class="col-sm-9" v-if="item.contact_numbers"><h5>{{ item.contact_numbers }}</h5></div>
                    <div class="col-sm-3" v-if="item.cities"><h5><strong>Cities:</strong></h5></div>
                    <div class="col-sm-9" v-if="item.cities"><span v-for="city in item.cities" class="field_item btn btn-default">{{ city.name }}</span></div>
                    <div class="col-sm-3" v-if="item.attachments"><h5><strong>Attachments:</strong></h5></div>
                    <div class="col-sm-9"><h5 v-for="attachment in item.attachments">{{ attachment.location }}</h5></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <a :href="'https://facebook.com/' + item.facebook" target="_blank" v-if="item.facebook"><i class="fa fa-facebook-square fa-3x"></i></a>
                        <a :href="'https://twitter.com/' + item.twitter" target="_blank" v-if="item.twitter"><i class="fa fa-twitter-square fa-3x"></i></a>
                        <a :href="'https://linkedin.com/' + item.linked_in" target="_blank" v-if="item.linked_in"><i class="fa fa-linkedin-square fa-3x"></i></a>
                        <a :href="'https://plus.google.com/' + item.google_plus" target="_blank" v-if="item.google_plus"><i class="fa fa-google-plus-square fa-3x"></i></a>
                        <a href="#" target="_blank"><div id="SkypeButton_Call"></div></a>
                    </div>
                </div>


            </div>
        </div>
        <div class="row" v-if="item.contact_form && showForm">
            <form action="#" v-on:submit="sendInfo">
                <div class="form-group">
                    <label for="name">Your Name</label>
                    <input type="text" class="form-control" id="name" name="name" required v-model="name">
                </div>
                <div class="form-group">
                    <label for="email">Your Email</label>
                    <input type="email" class="form-control" id="email" name="email" required v-model="email">
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject" required v-model="subject">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="10" required v-model="message"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Send Inquiry">
                </div>
            </form>
        </div>
        <div class="row" v-if="item.images">
            <hr>
            <div class="col-sm-2" v-for="image in item.images">
                <img :src="image.image" :alt="item.name" class="img-responsive" v-on:click="showProducts">
            </div>
        </div>
        <div class="row" v-if="item.description">
            <hr>
            <div class="col-xs-12 item-description" v-html="item.description"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <div class="vue-map-container" id="map"></div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <h4>Field of Work</h4>
                <a class="field_item" v-for="field in item.fieldsOfWork" v-link="{ path: '/search/fields/' + field.slug }"><span v-html="field.name" class="btn btn-default"></span></a>
            </div>
        </div>

    </div>
    <section>
        <div id="imagesView" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Business Images</h4>
                    </div>
                    <div class="modal-body">
                        <div id="business_images" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div v-for="image in item.images" :class="['item', { active: activeSlide(image) }]">
                                    <img :src="image.image" :alt="item.name" class="img-responsive">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#business_images" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#business_images" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        ready() {
            window.scrollTo(0, 0);
            this.$root.searchUrl = '/search/business';
            var searchElem = document.getElementById("search");
            var that = this;
            searchElem.onkeyup = function() {
                that.$route.router.go({ name: 'search', query: { q: this.value }});
            };
            this.$root.getResults(this.$route.params.business_name);
            this.$on('resultsFetched', function () {
                this.item = this.$root.results;
                this.setMap();
                this.setupSkype();
            }.bind(this));
        },
        data() {
            return {
                item: [],
                showForm: false,
                subject: '',
                email: '',
                message: '',
                name: '',
                info: '',
                showInfo: false
            }
        },
        methods: {
            setMap(map){
                if (this.item.map_location == undefined) {
                    return;
                }
                var mapProp = {
                    center: new google.maps.LatLng(-1.3048035, 36.8473969),
                    zoom:12,
                    mapTypeId:google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map"), mapProp);

                var locations = this.item.map_location;
                this.markers = [];
                if (locations.length < 10) {
                    return;
                }
                var markers = locations.split(';');
                var position = null;
                for(var i = 0; i < markers.length; i++) {
                    var latLong = markers[i].split(',');
                    position = new google.maps.LatLng(latLong[0], latLong[1]);
                    var marker = new google.maps.Marker({
                        position: position,
                        map: map
                    });
                }
                map.panTo(position);
            },
            setupSkype() {
            $('#SkypeButton_Call').html('');
                if (this.item.skype == "" || this.item.skype == undefined) {

                    return;
                }

                Skype.ui({
                    "name": "call",
                    "element": "SkypeButton_Call",
                    "participants": [this.item.skype],
                    "imageSize": 32
                });
            },
            showProducts() {
                console.log('clicked');
                $('.carousel').carousel({
                    interval: 1000
                });
                $('#imagesView').modal('show');
            },
            activeSlide(image) {
                return this.item.images[0] == image;
            },
            sendInfo(e) {
                e.preventDefault();
                window.scrollTo(0, 0);

                $.ajax({
                    data: {
                        email: this.email,
                        subject: this.subject,
                        message: this.message,
                        slug: this.item.slug,
                        _token: $('#tok').attr('content'),
                        name: this.name
                    },
                    method: 'post',
                    url: 'http://mtangaza.com/api/inquiry',
                    success: function (response) {
                        console.log(response);
                        this.showInfo = true;
                        this.info = 'Successfully sent message.';
                        this.showForm = false;
                        this.subject = '';
                        this.email = '';
                        this.message = '';
                        this.name = '';
                        setTimeout(function() {
                            this.showInfo = false;
                        }.bind(this),5000);
                    }.bind(this),
                    error: function (error) {
                        this.showForm = false;
                        this.showInfo = true;
                        this.info = 'Successfully sent message.';
                        setTimeout(function() {
                            this.showInfo = false;
                        }.bind(this),5000);
                    }.bind(this)
                });
            }
        }
    }
</script>
