@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.logo-lg img {
  width: 160px;
}

.dataTables_filter {
  float: right;
}

.display-label{
  width: 100px;
  display: inline-block;
}

.toast-top-right {
  margin-top: 60px !important;
}

.select2-container--bootstrap .select2-selection {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.select2-container--bootstrap .select2-selection--single {
  padding: 10px !important;
}

#map {
  width: 100%;
  height: 400px;
}