/*
 * Variables...
 */

$primary-color: #3ab0e0;
$secondary-color: #9d489b;
$third-color: #8dc355;
$fourth-color: #ea5e4f;

$border-radius-base: 0;
$brand-primary: #2B5A84;
$active-icon-color: #6CC94D;
$btn-border-radius-base: 4px;
$btn-font-weight: 300;
$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif !default;
$font-size-base: 14px;
$navbar-height: 65px;

/*
 * Bootstrap CSS...
 */

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/**
 * Elements
 */

@import "elements/buttons";
@import "elements/forms";
@import "elements/modals";
@import "elements/nav";
@import "elements/panels";
@import "elements/tables";
@import "elements/tooltips";

/**
 * Components
 */

@import "components/tabs";

/*
 * Misc.
 */

html {
  min-height: 100%;
  position: relative;
}

body {
  font-weight: 300;
  margin-bottom: 80px;
}

.footer {
  background-color: #f5f5f5;
  border-top: 1px solid #e7e7e7;
  bottom: 0;
  height: 80px;
  position: absolute;
  width: 100%;

  .footer-social-icons {
    font-size: 32px;
    padding-top: 18px;

    a {
      color: #777;
    }
  }
}

[v-cloak] {
  display: none;
}

.premium-row {
  margin-top: 20px;
}

.premium .panel-body{
  min-height: 100px;
}

.main-logo {
  margin-top: 40px;
}

.navbar-brand img {
  max-width: 200px;
  margin-top: -20px;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200000;
}
.search-bar {
  width: 100%;
  .input-group {
    width: 100%;
  }
}

.page-body {
  margin-top: 150px;
}

.nav-divider {
  margin-top: 0 !important;

}

.page-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200000;
}

.bg-white {
  background-color: #fff;
}

.search-nav {
  margin-top: 67px;
  font-size: 1.1em;

  .v-link-active {
    font-weight: 600;
    color: #9e4699;
    background-color: transparent;
    border-bottom: 4px solid #9e4699;
  }

  .nav li a {
    padding: 15px 10px;
  }
  .nav {
    padding: 0 !important;
  }

}

.result-item {
  p {
    text-align: justify;

    margin: 0 auto 10px auto;
    font-size: 14px;
    line-height: 1.5;
    height: 42px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block !important;
    display: -webkit-box !important;
    max-width: 100%;
  }
  h4 {
    color: $primary-color;
  }
}

.business-item {
  p {
    text-align: justify;
  }
  h4 {
    color: $primary-color;
  }
  .item-description {
    font-size: 1.1em;
  }
  .vue-map-container {
    height: 400px;
  }
  .logo-img {
    margin: auto;
    border: 6px groove #38AEDF;
    border-radius: 16px;
    -webkit-box-shadow: 7px 7px 7px 0px rgba(141, 194, 82, 0.8);
    -moz-box-shadow: 7px 7px 7px 0px rgba(141, 194, 82, 0.8);
    box-shadow: 7px 7px 7px 0px rgba(141, 194, 82, 0.8);
  }
  h3 {
    text-align: center;
  }
  #SkypeButton_Call {
    display: inline;

    p {
      display: inline;
    }

    img {
      margin: 0 !important;
      vertical-align: -4px !important;
    }
  }


  .social-icons a{
    margin: 0 5px;
  }

  .contact {
    margin: 20px auto;
  }
}

.btn-one {
  background-color: $primary-color;
  font-weight: 600;
}

.btn-four {
  background-color: $fourth-color;
  border-color: $fourth-color;
  font-weight: 600;
  color: #fff;
}

.btn-four:hover {
  background-color: $third-color;
  border-color: $third-color;
}

.search-form.mobile-only {
  width: 78%;
  margin-top: -49px;
}

@media (max-width: 768px) {
  .navbar-brand{
    height: 0 !important;
    padding: 0 !important;
  }
  .desktop-only {
    display: none !important;
  }

  .mobile-only {
    display: inherit !important;
  }
}

@media (min-width: 768px) {
  .desktop-only {
    display: block !important;
  }

  .mobile-only {
    display: none !important;
  }
}


.result-item em {
  color: blue;
  font-weight: 600;
  background-color: yellow;
}

.logo-holder {
  padding: 5px 25px;

  img {
    border: 1px solid #36AEE0;
    border-radius: 50px;
  }
}

.right-featured {
  margin: 0 auto;
  height: 150px;
}

.modal-open .page-nav {
  display: none;
}

.business-item img:hover {
  cursor: pointer;
}

.right.carousel-control,
.left.carousel-control {
  width: 20px;
}




.main-title {
  text-align: center; }

.pricing-tables {
  padding: 20px; }
.pricing-tables h1 {
  font-size: 48px; }
.pricing-tables .plan.first {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }
.pricing-tables .plan.last {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px; }
.pricing-tables .plan.recommended {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
.pricing-tables .plan.recommended .head {
  margin-bottom: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
.pricing-tables.attached .col-sm-4,
.pricing-tables.attached .col-md-4,
.pricing-tables.attached .col-sm-3,
.pricing-tables.attached .col-md-3 {
  padding-left: 0;
  padding-right: 0; }
.pricing-tables.attached .plan {
  border-radius: 0; }
.pricing-tables.attached .plan .head {
  border-radius: 0; }
.pricing-tables.attached .plan.recommended {
  border-radius: 4px; }
.pricing-tables.attached .plan.recommended .head {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
.pricing-tables.attached .plan.last {
  border-bottom-right-radius: 4px; }
.pricing-tables.attached .plan.last .head {
  border-top-right-radius: 4px; }
.pricing-tables.attached .plan.first {
  border-bottom-left-radius: 4px; }
.pricing-tables.attached .plan.first .head {
  border-top-left-radius: 4px; }

.plan {
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
  min-height: 100px;
  background: #fff;
  border-radius: 4px;
  margin: 20px 0;
  padding-bottom: 25px;
  text-align: center; }
.plan .head {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 12px 16px;
  background: #1c1c1c;
  color: #fff; }
.plan .head h1, .plan .head h2, .plan .head h3 {
  padding: 0;
  margin: 0;
  font-weight: 100; }
.plan .price {
  border-top: 1px solid #eee;
  margin: 0 auto 30px auto;
  width: 80%; }
.plan .price h3 {
  font-size: 52px;
  vertical-align: top;
  line-height: 1; }
.plan .price h3 span {
  font-size: 18px;
  vertical-align: top;
  position: relative;
  margin: 6px 0 0 -7px;
  display: inline-block; }
.plan .price h4 {
  color: #aaa;
  font-size: 14px; }
.plan .btn {
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 500; }
.plan ul {
  list-style-type: none;
  padding: 20px;
  margin-top: 2px; }
.plan ul li {
  line-height: 22px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400; }
.plan ul li a {
  text-decoration: underline;
  color: #e6e9ed; }
.plan ul li:last-child {
  border-bottom: none; }
.plan ul strong {
  font-weight: 700; }
.plan.recommended {
  margin-top: 6px;
  box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
  position: relative;
  z-index: 99;
  border-radius: 4px; }
.plan.recommended .head {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #171717; }
.plan.recommended .btn {
  margin-bottom: 10px; }

.field_item {
  margin: 5px;
}
.wide {
  width:100%;
  margin-top: 8px;
  margin-bottom: 8px;
}
.panel-body {
  padding: 1px;
}

.wide img {
  width:100%;
}

.logo {
  color:#0084b4;
  text-align:center;
}

.fieldfield :hover{
  background-color: #f5f5f5;
  //border: 1px solid transparent;
  //border-radius: 4px;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  display: block;
  //padding: 5px;
}
.clear-head{
  margin-bottom: 15px;
  margin-top: 10px;
}

.line {
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.container.pinboard {
  background: url('../images/pinbg.jpg');
  min-height: 600px;
  padding: 0 !important;

  .logos {
    height: 60px;
    width: 60px;
    border: 1px solid #000;
    background-color: #fff;
    display: inline-block;

    img {
      width: 60px;
      height: 60px;
    }

  }
}
.showpop {
  cursor: auto;
  display: inline-block;
  line-height: 30px;
  position: relative;

  .popover {
    background-color: #fff;
    border-radius: 5px;
    bottom: 55px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    color: #333333;;
    display: none;
    font-size: 18px;
    left: -0px;
    text-align: center;
    position: absolute;
    width: 200px;
    z-index: 4;

    &:before {
      border-top: 7px solid rgba(0,0,0,0.85);
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      bottom: -7px;
      content: '';
      display: inline-block;
      left: 50%;
      margin-left: -7px;
      position: absolute;
    }
  }

  &:hover {
    .popover {
      display: block;
      -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
      -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
      -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
    }
  }
}

@-webkit-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-ms-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes move-up {
  from   { bottom: 35px; }
  to { bottom: 55px; }
}
@-moz-keyframes move-up {
  from   { bottom: 35px; }
  to { bottom: 55px; }
}
@-ms-keyframes move-up {
  from   { bottom: 35px; }
  to { bottom: 55px; }
}