<template>
    <router-view></router-view>
</template>
<script>
    export default {
        ready() {
            this.$on('userHasLoggedOut', function () {
                this.destroyLogin()
            });
            this.$on('userHasLoggedIn', function (user) {
                this.setLogin(user)
            });
            this.getFeatured();
        },

        data() {
            return {
                user: null,
                token: null,
                authenticated: false,
                results: [],
                featured: [],
                featuredFields: [],
                searchUrl: '/search/companies'
            };
        },

        methods: {
            setLogin(user) {
                // Save login info in our data and set header in case it's not set already
                this.user = user;
                this.authenticated = true;
                this.token = localStorage.getItem('jwt-token');
            },
            destroyLogin(user) {
                // Cleanup when token was invalid our user has logged out
                this.user = null;
                this.token = null;
                this.authenticated = false;
                localStorage.removeItem('jwt-token');
                if (this.$route.auth) this.$route.router.go('/auth/login')
            },

            getResults: function (query) {
                client({ path: this.searchUrl + '?query=' + query }).then(function (response) {
                    this.setResults(response.entity);
                }.bind(this), function (response) {
                });
            },
            setResults(results) {
                this.results = results;
                this.$broadcast('resultsFetched', results);
            },
            getFeatured() {
                client({ path: '/featured' }).then(function (response) {
                    this.setFeatured(response.entity);
                }.bind(this), function (response) {
                    console.log(response);
                });
            },
            setFeatured(results) {
                this.featured = results.businesses;
                this.featuredFields = results.fields
                this.$broadcast('featuredFetched', results);
            }
        }
    }
</script>